body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-direction: column;
    background-color: floralwhite;
}

#grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.square{
    height: 25px;
    width: 25px;
    outline: 1px solid black;
    float: left;
}

.palette{
    height: 30px;
    width: 30px;
    outline: 1px solid black;
    float:left;
    border-radius: 50%;
    margin: 1px;

}

#currentColor{
    text-align: left;
    height: 30px;
    width: 30px;
    outline: 1px solid black;
    margin: 5px;
    
}

.black{
    background-color: black;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.darkred{
    background-color: darkred;
}

.crimson{
    background-color: crimson;
}

.darkorange{
    background-color: darkorange;
}

.orange{
    background-color: orange;
}

.gold{
    background-color: gold;
}

.lightyellow{
    background-color: lightyellow;
}

.khaki{
    background-color: khaki;
}

.yellow{
    background-color: yellow;
}

.lawngreen{
    background-color: lawngreen;
}

.green{
    background-color: green;
}

.darkgreen{
    background-color: darkgreen;
}

.mediumblue{
    background-color: mediumblue;
}

.darkblue{
    background-color: darkblue;
}

.darkviolet{
    background-color: darkviolet;
}

.purple{
    background-color: purple;
}

.indigo{
    background-color: indigo;
}

.pink{
    background-color: pink;
}

.hotpink{
    background-color: hotpink;
}

.deeppink{
    background-color: deeppink;
}

.white{
    background-color: white;
}

.gray{
    background-color: gray;
}

.firebrick{
    background-color: firebrick;
}

.orangered{
    background-color: orangered;
}

.moccasin{
    background-color: moccasin;
}

.aquamarine{
    background-color: aquamarine;
}

.cyan{
    background-color: cyan;
}